body{
    width: 100%;
}

#container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.header{
    height: 1rem;
    font-weight:400;
    line-height:1rem;
    margin-top: .2rem;
    font-size:0.51rem;
    color:rgba(51,51,51,1);
    font-family:PingFangSC-Regular;
}

#back{
    float: left;
    width: 0.26rem;
    height: 0.48rem;
    margin-top: .26rem;
    margin-left: .4rem;
}

.title{
    float: right;
    margin-right: 50%;
    transform: translateX(50%);
}

.content{
    width: 100%;
    margin-top: 1.2rem;
}

.inputitem{
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    border-bottom:0.05rem solid #F0EFF4;
}

input{
    border:0;
    display: block;
    margin: .5rem 0;
    font-weight:400;
    caret-color:red;  
    font-size:0.45rem;
    color: red;
    font-family:PingFangSC-Regular;
}

input::-webkit-input-placeholder{
    font-size:0.45rem;
    color:rgba(204,204,204,1);
}

input::-moz-placeholder{
    font-size:0.45rem;
    color:rgba(204,204,204,1);
}

input:-ms-input-placeholder{
    font-size:0.45rem;
    color:rgba(204,204,204,1);
}

.tip{
    color: red;
    height: .5rem;
    margin-left: 10%;
    font-size: .32rem;
    line-height: .8rem;
    visibility: hidden;
}

#code{
    width: 2.4rem;
    height: .93rem;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #49A59C;
}

.yzm{
    position: relative;
}

#sendcode{
    outline:none;
    width: 2.4rem;
    height:.93rem;
    border: 1px solid #49A59C;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 0rem;
    top:-0.2rem;
    z-index: 999;
    color:#49A59C;
    font-size:0.35rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    text-align: center;
    line-height: .93rem;
}

.pwd,.cpwd{
    position: relative;
}

#openHandler,#closeHandler{
    top: .2rem;
    right:1rem;
    width: .4rem;
    height: .24rem;
    z-index: 999;
    position: absolute;
}

#wrap{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmSubmit{
    width:7.73rem;
    height:1.07rem;
    line-height: 1.07rem;
    text-align: center;
    background:rgba(73,165,156,1);
    box-shadow:0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
    border-radius:1rem;
    font-size:0.45rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}
